<html>

<body>
<p><%=@pirate.name%></p>
<p><%=@pirate.height%></p>
<p><%=@pirate.weight%></p>
<h2>Display your first ship here</h2>
<ul><% @ships.each do |ship|%>
<li><%=ship.name%></li>
<li><%=ship.type%></li>
<li><%=ship.booty%></li>
<%end%></ul>
</body>

</html>